<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/poster.css">
    <link rel="stylesheet" href="css/about_cinema.css">
    <link rel="stylesheet" href="css/media.css">
<!--    <link rel="stylesheet" href="css/loader.css">-->
    <title>Document</title>
</head>
<body>



<!----------------------NAME_OPEN_LOGON_REGISTRATION------------------------>
<header class="wrapper">
    <div class="__container">
        <div class="block_container">
            <ul class="menu_container">
                <li class="list_menu">
                      <img src="img/header/Vector.svg" alt="">
                </li>
                <li class="list_menu">
                    <h4>
                        Бодя
                    </h4>
                </li>
                <li class="list_menu">
                    <img class="header_images" src="img/header/open.svg" alt="">
                </li>
                <li class="list_menu">
                    <button>
                        Логін
                    </button>
                </li>
                <li class="list_menu">
                     <button>
                        Реєстрація
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-----------------------------------------BLOCK_MAIN---------------------->
<section class="images_section">

    <div class="__container" >
        <div class="section_info">
            <div class="logo">
                <a href="/">
                    <img src="img/main/marvel_logo.png" alt="">
                </a>
            </div>
            <div class="page_info">
                <ul class="block__colum">
                       <li class="block__list">
                            <input type="text" placeholder="Пошук.." name="search">
                       </li>
                       <li class="block__list">
                            <img src="img/main/internet.png" alt="">
                       </li>
                       <li class="block__list">
                            <div class="phone_info">
                                <h1>
                                    (048) 777-77-77
                                </h1>
                                <h1>
                                    (097) 777-77-77
                                </h1>
                            </div>
                       </li>
                   </ul>
                <div class="down_colum">
                    <ul class="menu_page">
                        <li class="about">
                         <a href="./poster.html" >
                                Афіша
                            </a>
                            </li>

                         <li class="about">
                         <a href="" >
                                Розклад
                            </a>
                            </li>

                        <li class="about">
                            <a href="./soon.html">
                                Скоро
                            </a>
                            </li>

                        <li class="about">
                            <a href="./cinema.html" >
                                Кінотеатри
                            </a>
                            </li>
                        <li class="about">
                            <a href="./promotions.html">
                                Акції
                            </a>
                            </li>
                        <li class="about">


                            <div class="dropdown">
                                <a class="title__about__movie" href="./about_cinema.html">Про кінотеатр</a>
                                <button onclick="myFunction()" class="dropbtn add_content"></button>
                                  <div id="myDropdown" class="dropdown-content">
                                    <a href="./news.html">Новини</a>
                                    <a href="./advertising.html">Реклама</a>
                                    <a href="./cafe_bar.html">Кафе</a>
                                    <a href="./vip.html">Vip-зал</a>
                                    <a href="./childrean_room.html">Дитяча кімната</a>
                                    <a href="./mobile_app.html">Мобільний додаток</a>
                                    <a href="./contact.html">Контакти</a>
                                  </div>
                                </div>

                        </li>

                    </ul>
                    <select class="choice">
                        <option class="option__lang">
                            UK
                        </option>
                         <option>
                            EN
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>


<!-----------------------------------------IMG_BLOCK---------------------->
<section class="img_block_title">
    <img src="img/about_cinema/block.jpg" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->

<div class="content_block_info">
    <div class="right_content_block_info">
        <h1>
            Про кінотеатр
        </h1>
        <p>
            Кинокомплекс "Золотой Дюк", последний из проектировавшихся во время Советского Союза одесских кинотеатров, был открыт 15 декабря 1993 г. Из трех залов кинотеатра, первоначально работал один, а в сентябре 1994 г. был открыт второй зал. Впоследствии, в связи с развалом кинопроката, "Золотой Дюк" фактически перестал работать как кинотеатр. В 1996 г. в первом зале разместился клуб "Чикаго", а третий зал так и не начал работать, был сдан в аренду спортивному клубу. Второй же зал был просто закрыт.  
        </p>
        <p>
            14 мая 2002 года началась реконструкция кинокомплекса, в результате которой 20 сентября 2002 года был открыт самый большой на тот момент на Украине трехзальный кинокомплекс "Золотой Дюк".
        </p>
        <p>
            В 2005 году были достроены еще 2 зала и кинокомплекс "Золотой Дюк" стал Первым Одесским пятизальным мультиплексом.
        </p>
        <p>
            1 июля 2009 года в Мультиплексе «Золотой Дюк» открылся первый 3D – зал №1 на 378 мест, с объемным цифровым изображением и специальными поляризованными очками, а 01 ноября 2009 открылся второй 3D-зал №4 на 180 мест и третий 3D-зал  № 5  на 180 мест.  
        </p>
        <p>
            Залы 3D считаются сегодня самой зрелищной системой кинопоказа. Их экраны, объемный звук и четкая, гиперреалистичная картинка почти полностью разрушили границу между экраном и публикой...  
        </p>
        <p>
            В феврале 2012 был построен ещё один, VIP-зал на 20 мест. Этот зал оборудован цифровым проектором NEC, который использует новую "активную" технологию Xpant для 3D. К слову, эта технология применена на Украине впервые.
        </p>
        <p>
            В общем, наш мультиплекс стал  шестизальным.Подробную информацию о VIP-зале Вы можете получить по адресу <a href="http://vip.kino.od.ua/"></a>  
        </p>
        <p>
            В нашем Мультиплексе зрителям обеспечен максимальный комфорт. Судите сами: благодаря наличию именно шести залов мы можем предложить Вам наибольший выбор фильмов, причем Вы всегда имеете возможность выбрать наиболее удобный для Вас сеанс. 
        </p>
        <p>
            Все залы кинокомплекса оборудованы самой современной звуковой аппаратурой системы "Dolby Digital Surround E.X.", обеспечивающей совершенный семиканальный цифровой звук.  
        </p>
        <p>
            Широкие кресла и большие расстояния между рядами позволят Вам очень удобно чувствовать себя во время просмотра.  
        </p>
        <p>
            Оптимальный наклон зала обеспечивает прекрасный обзор с любого места в любом ряду.  
        </p>
        <p>
            Если Вы опоздали или входите в зал во время сеанса - подсвеченные номера рядов позволят легко и быстро найти свое место. А установленная в кинокомплексе система климат-контроля обеспечит необходимый подогрев воздуха зимой и охлаждение летом во всех помещениях кинокомплекса.  
        </p>
        <p>
            Вы приехали на машине - к Вашим услугам бесплатная парковка. Вы не успели перекусить - у нас работает Кафе-пиццерия. Кстати, вход в него и вообще в фойе свободный (билеты проверяются на входе в кинозал).  
        </p>
        <p>
            Добавим еще бесплатное бронирование билетов, доброжелательный персонал, стильный интерьер.  
        </p>
        <p>
             ОБЩЕМ, - "ПРИЯТНОГО ПРОСМОТРА!"
        </p>
        <img src="img/about_cinema/block.jpg" alt="">
        <h1>
            Устаткування
        </h1>
        <p>
            Общая площадь кинотеатра 1600 метров и он занимает весь четвертый этаж универмага «Украина». В интерьере кинотеатра использованы два стиля – high-tech и минимализм. Яркое оформление гостевой зоны фойе, бара, гардероба (оранжевые стены, потолок и кассы) контрастируют с мягким уютным оформлением небольших залов. Вы входите в кинотеатр, выбираете фильм, зал, место, оплачиваете стоимость билета, то есть выполняете некую работу. Активная фаза пребывания в кинотеатре проходит в активном фойе, а отдых – это просмотр фильма в уютном зале.  
        </p>
        <p>
            Кстати о залах. Кинотеатр ОДЕССА-КИНО отличается небольшими залами, в каждом 127 зрительских кресел. Потому, что мы считаем, что намного приятнее смотреть кино в относительно небольшой компании, чем на крытом стадионе. 4 зала в ОДЕССА-КИНО отличаются друг от друга по цветовому решению. Удобные кресла, с большими подставками для кока-колы и поп-корна. Мягкая обивка стен и потолка создает непринужденную, комфортную атмосферу. В такой атмосфере легко можно высидеть даже три с половиной часа. Оптимальный микроклимат в зале поддерживают специальные установки.  
        </p>
        <img src="img/about_cinema/block.jpg" alt="">
        <p>
            И, наконец, то, ради чего мы приходим в кинотеатр.  
        </p>
        <p>
            Экран, звук, качество копий. Все залы в кинотеатре ОДЕССА-КИНО оснащены самым современным немецким проекционным оборудованием немецкой фирмы Kinoton с экранами 10Х4 метра. Немаловажная подробность. Экраны расположены достаточно близко к зрителям. Мы хотим сломать стереотип, о том, что кино на большом экране лучше смотреть издалека. Чем ближе вы к экрану, тем ближе вам перипетии сюжета. Еще глубже погрузиться в фильм помогает американская звуковая система Dolby Digital EX американской фирмы Elektrovoice. Возможности этой системы превратят в звукового гурмана любого. Точно такой же звук вы можете услышать в лучших кинотеатрах мира. И, безусловно, высочайшее качество изображения на экране. Его гарантирует наше стремление использовать только лучшие копии фильмов.
        </p>

    </div>
    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
        </div>
    </div>
</div>



<!---------------------FOOTER----------------------------------------------->

<footer>
    <div class="__container">
        <div class="footer__line"></div>
        <div class="footer__block">
            <div class="footer_mobile_sites">
                <h1>
                    Мобіний додаток
                </h1>
                <div class="footer_mobile_images">
                    <img src="img/footer/google_image_footer.png" alt="">
                    <img src="img/footer/footer_image_apple.png" alt="">
                </div>
                <p>
                    Розробка сайтів: AVADA MEDIA
                </p>
            </div>
            <div class="footer__center__block">
                <h1>
                    Афіша
                </h1>
                <a href="">
                    Розклад
                </a>
                <a href="">
                    Незабаром у прокаті
                </a>
                <a href="">
                    Кінотеатри
                </a>
                <a href="">
                    Акції
                </a>
            </div>
            <div class="footer__center_2__block">
                <h1>
                    Про кінотеатр
                </h1>
                <a>
                    Новини
                </a>
                <a>
                    Реклама
                </a>
                <a href="">
                   Кафе-Бар
                </a>
                <a href="">
                    Контакти
                </a>
            </div>
            <div class="footer_end_block">
                <img src="img/footer/footer_image.png" alt="">
            </div>
        </div>
        <div class="footer_center_end_block">
            <p>
                ©KinoCMS 2016, All rights reserved
            </p>
        </div>
    </div>
</footer>



<!-- -----------------------------------------SCRIPT---------------------- -->

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
    
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
        }
    }
    </script>




</body>
</html>