{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/media.css' %}">
<!--    <link rel="stylesheet" href="css/loader.css">-->
    <title>Document</title>
</head>
<body>




<!----------------------NAME_OPEN_LOGON_REGISTRATION------------------------>
<header class="wrapper">
    <div class="__container">
        <div class="block_container">
            <ul class="menu_container">
                <li class="list_menu">
                      <img src="{% static 'main_page/images/header/Vector.svg' %}" alt="">
                </li>
                <li class="list_menu">
                    <h4>
                        Бодя
                    </h4>
                </li>
                <li class="list_menu">
                    <img class="header_images" src="{% static 'main_page/images/header/open.svg' %}" alt="">
                </li>
                <li class="list_menu">
                    <a href="{% url 'login' %}">
                        Логін
                    </a>
                </li>
                <li class="list_menu">
                     <a href="{% url 'register' %}">
                        Реєстрація
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!---------------------------HEADER_IMAGE--------------------------------->
<section class="images_section">
    <div class="block_container_images">
        <img class="images" src="{% static 'main_page/images/header/header.png' %}">
    </div>
</section>
<!-----------------------------------------BLOCK_MAIN---------------------->
<section class="images_section">
    <!-- <div class="block_container_images">
        <img class="images" src="img/header/header.png">
    </div> -->
    <div class="__container" >
        <div class="section_info">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'main_page/images/main/marvel_logo.png' %}" alt="">
                </a>
            </div>
            <div class="page_info">
                <ul class="block__colum">
                       <li class="block__list">
                            <input type="text" placeholder="Пошук.." name="search">
                       </li>
                       <li class="block__list">
                            <img src="{% static 'main_page/images/main/internet.png' %}" alt="">
                       </li>
                       <li class="block__list">
                            <div class="phone_info">
                                <h1>
                                    (048) 777-77-77
                                </h1>
                                <h1>
                                    (097) 777-77-77
                                </h1>
                            </div>
                       </li>
                   </ul>
                <div class="down_colum">
                    <ul class="menu_page">
                        <li class="about">
                         <a href="./poster.html" >
                                Афіша
                            </a>
                            </li>

                         <li class="about">
                         <a href="" >
                                Розклад
                            </a>
                            </li>

                        <li class="about">
                            <a href="./soon.html">
                                Скоро
                            </a>
                            </li>

                        <li class="about">
                            <a href="./cinema.html" >
                                Кінотеатри
                            </a>
                            </li>
                        <li class="about">
                            <a href="./promotions.html">
                                Акції
                            </a>
                            </li>
                        <li class="about">


                            <div class="dropdown">
                                <a class="title__about__movie" href="./about_cinema.html">Про кінотеатр</a>
                                <button onclick="myFunction()" class="dropbtn add_content"></button>
                                  <div id="myDropdown" class="dropdown-content">
                                    <a href="./news.html">Новини</a>
                                    <a href="./advertising.html">Реклама</a>
                                    <a href="./cafe_bar.html">Кафе</a>
                                    <a href="./vip.html">Vip-зал</a>
                                    <a href="./childrean_room.html">Дитяча кімната</a>
                                    <a href="./mobile_app.html">Мобільний додаток</a>
                                    <a href="./contact.html">Контакти</a>
                                  </div>
                                </div>

                        </li>

                    </ul>
                    <select class="choice">
                        <option class="option__lang">
                            UK
                        </option>
                         <option>
                            EN
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------CARUSEL_BLOCK------------------------- -->


{% block content %}
{% endblock %}
<!---------------------------------SHOW__SOON------------------------------>

<!----------------------------------NEWS_AND_------------------------------->

<!---------------------FOOTER----------------------------------------------->
<footer>
    <div class="__container">
        <div class="footer__line"></div>
        <div class="footer__block">
            <div class="footer_mobile_sites">
                <h1>
                    Мобіний додаток
                </h1>
                <div class="footer_mobile_images">
                    <img src="{% static 'main_page/images/footer/google_image_footer.png' %}" alt="">
                    <img src="{% static 'main_page/images/footer/footer_image_apple.png' %}" alt="">
                </div>
                <p>
                    Розробка сайтів: AVADA MEDIA
                </p>
            </div>
            <div class="footer__center__block">
                <h1>
                    Афіша
                </h1>
                <a href="">
                    Розклад
                </a>
                <a href="">
                    Незабаром у прокаті
                </a>
                <a href="">
                    Кінотеатри
                </a>
                <a href="">
                    Акції
                </a>
            </div>
            <div class="footer__center_2__block">
                <h1>
                    Про кінотеатр
                </h1>
                <a>
                    Новини
                </a>
                <a>
                    Реклама
                </a>
                <a href="">
                   Кафе-Бар
                </a>
                <a href="">
                    Контакти
                </a>
            </div>
            <div class="footer_end_block">
                <img src="{% static 'main_page/images/footer/footer_image.png' %}" alt="">
            </div>
        </div>
        <div class="footer_center_end_block">
            <p>
                ©KinoCMS 2016, All rights reserved
            </p>
        </div>
    </div>
</footer>

<script>
    const lang = navigator.language; // определяет язык браузера
    let date = new Date(); // создание нового объекта с текущей датой и временем
    let dayNumber = date.getDate(); // получение даты
    if (dayNumber < 10){
        dayNumber = '0' + dayNumber
    }

    let month = date.getMonth(); // получение месяца
    // let dayName = date.toLocaleString(lang,{weekday: 'long' }); // получения названия дня недели
    let monthName = date.toLocaleString(lang,{ month: 'long' }); // получение названия месяца
    // let year = date.getFullYear(); // получение текущего года
    let mounthes = ['Cічня', 'Лютого', 'Березня', 'Квітня', 'Травня', 'Червня', 'Липня', 'Серпня', 'Вересня', 'Жовтня', 'Листопада', 'Грудня'];
    let result = mounthes[month];
    var date_mounth =" " + dayNumber + " " + result

    document.getElementById('date').innerText += date_mounth
</script>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'main_page/js/carusel.js' %}"></script>
<!-- <script src="js/hamburger.js"></script> -->
<script src="{% static 'main_page/js/choiceLanguage.js' %}"></script>



</body>
</html>