<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/poster.css">
    <link rel="stylesheet" href="css/about_cinema.css">
    <link rel="stylesheet" href="css/media.css">
<!--    <link rel="stylesheet" href="css/loader.css">-->
    <title>Document</title>
</head>
<body>



<!----------------------NAME_OPEN_LOGON_REGISTRATION------------------------>
<header class="wrapper">
    <div class="__container">
        <div class="block_container">
            <ul class="menu_container">
                <li class="list_menu">
                      <img src="img/header/Vector.svg" alt="">
                </li>
                <li class="list_menu">
                    <h4>
                        Бодя
                    </h4>
                </li>
                <li class="list_menu">
                    <img class="header_images" src="img/header/open.svg" alt="">
                </li>
                <li class="list_menu">
                    <button>
                        Логін
                    </button>
                </li>
                <li class="list_menu">
                     <button>
                        Реєстрація
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-----------------------------------------BLOCK_MAIN---------------------->
<section class="images_section">
    <!-- <div class="block_container_images">
        <img class="images" src="img/header/header.png">
    </div> -->
    <div class="__container" >
        <div class="section_info">
            <div class="logo">
                <a href="/">
                    <img src="img/main/marvel_logo.png" alt="">
                </a>
            </div>
            <div class="page_info">
                <ul class="block__colum">
                       <li class="block__list">
                            <input type="text" placeholder="Пошук.." name="search">
                       </li>
                       <li class="block__list">
                            <img src="img/main/internet.png" alt="">
                       </li>
                       <li class="block__list">
                            <div class="phone_info">
                                <h1>
                                    (048) 777-77-77
                                </h1>
                                <h1>
                                    (097) 777-77-77
                                </h1>
                            </div>
                       </li>
                   </ul>
                <div class="down_colum">
                    <ul class="menu_page">
                        <li class="about">
                         <a href="./poster.html" >
                                Афіша
                            </a>
                            </li>

                         <li class="about">
                         <a href="" >
                                Розклад
                            </a>
                            </li>

                        <li class="about">
                            <a href="./soon.html">
                                Скоро
                            </a>
                            </li>

                        <li class="about">
                            <a href="./cinema.html" >
                                Кінотеатри
                            </a>
                            </li>
                        <li class="about">
                            <a href="./promotions.html">
                                Акції
                            </a>
                            </li>
                        <li class="about">


                            <div class="dropdown">
                                <a class="title__about__movie" href="./about_cinema.html">Про кінотеатр</a>
                                <button onclick="myFunction()" class="dropbtn add_content"></button>
                                  <div id="myDropdown" class="dropdown-content">
                                    <a href="./news.html">Новини</a>
                                    <a href="./advertising.html">Реклама</a>
                                    <a href="./cafe_bar.html">Кафе</a>
                                    <a href="./vip.html">Vip-зал</a>
                                    <a href="./childrean_room.html">Дитяча кімната</a>
                                    <a href="./mobile_app.html">Мобільний додаток</a>
                                    <a href="./contact.html">Контакти</a>
                                  </div>
                                </div>

                        </li>

                    </ul>
                    <select class="choice">
                        <option class="option__lang">
                            UK
                        </option>
                         <option>
                            EN
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>


<!-----------------------------------------IMG_BLOCK---------------------->
<section class="img_block_title">
    <img src="img/news/new_5.jpg" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->

<div class="content_block_info">
    <div class="cafe_bar_container"> 
        <div class="title_cafe_block">
            <h1>
                Кафе бар
            </h1>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro cum tempora reprehenderit saepe officiis aliquam harum provident nam mollitia officia nemo accusantium magni culpa, quaerat quo pariatur omnis dolorum?
            Eligendi at eum placeat, autem ex obcaecati quibusdam totam dolores aliquam fugit ratione possimus quae veritatis perspiciatis, voluptas praesentium incidunt. Sapiente recusandae voluptates qui neque alias laboriosam rem maiores repellendus.
            Mollitia, alias. Neque, omnis. Fugiat, delectus. Animi, nihil sunt itaque optio sit voluptatibus ipsum unde perferendis rem qui, aspernatur, exercitationem provident. Expedita exercitationem nemo natus eos? Rem sed explicabo minima!
            Eligendi nemo at quos nisi iure tenetur hic quisquam nulla? Accusamus dicta illo unde ducimus autem provident eum quas repellendus rem. Dolore unde dolorum reprehenderit repellat omnis in totam magni.
            Sit quae, culpa praesentium ad distinctio aliquid minus dolor quia architecto rerum rem obcaecati veritatis, tempora asperiores ipsum. Minus, laudantium consectetur. Tenetur iste, reiciendis quibusdam expedita velit nesciunt accusamus sunt.
        </p>
        <div class="cafe_bar_img">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
        </div>
        <div class="title_cafe_block">
            <h1>
                Меню
            </h1>
        </div>
        <table class="table_cafe_bar">
            <tr class="tr_cafe_bar">
              <th class="th_cafe_bar">Head 1</th>
              <th class="th_cafe_bar">Head 2</th>
              <th class="th_cafe_bar">Head 3</th>
              <th class="th_cafe_bar">Checbox</th>
            </tr>
            <tr class="tr_cafe_bar">
              <td class="td_cafe_bar">Cell 1</td>
              <td class="td_cafe_bar">Cell 2</td>
              <td class="td_cafe_bar">Cell 3</td>
              <td class="td_cafe_bar">
                <input type="checkbox">
              </td>
            </tr>
            <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 4</td>
                <td class="td_cafe_bar">Cell 5</td>
                <td class="td_cafe_bar">Cell 6</td>
                <td class="td_cafe_bar">
                    <input type="checkbox">
                  </td>
              </tr>
              <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 7</td>
                <td class="td_cafe_bar">Cell 8</td>
                <td class="td_cafe_bar">Cell 9</td>
                <td class="td_cafe_bar">
                    <input type="radio">
                  </td>
              </tr>
              <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 10</td>
                <td class="td_cafe_bar">Cell 11</td>
                <td class="td_cafe_bar">Cell 12</td>
                 <td class="td_cafe_bar">
                    <input type="radio">
                  </td>
              </tr>
            
          </table>

    </div>
    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
        </div>
    </div>
</div>



<!---------------------FOOTER----------------------------------------------->

<footer>
    <div class="__container">
        <div class="footer__line"></div>
        <div class="footer__block">
            <div class="footer_mobile_sites">
                <h1>
                    Мобіний додаток
                </h1>
                <div class="footer_mobile_images">
                    <img src="img/footer/google_image_footer.png" alt="">
                    <img src="img/footer/footer_image_apple.png" alt="">
                </div>
                <p>
                    Розробка сайтів: AVADA MEDIA
                </p>
            </div>
            <div class="footer__center__block">
                <h1>
                    Афіша
                </h1>
                <a href="">
                    Розклад
                </a>
                <a href="">
                    Незабаром у прокаті
                </a>
                <a href="">
                    Кінотеатри
                </a>
                <a href="">
                    Акції
                </a>
            </div>
            <div class="footer__center_2__block">
                <h1>
                    Про кінотеатр
                </h1>
                <a>
                    Новини
                </a>
                <a>
                    Реклама
                </a>
                <a href="">
                   Кафе-Бар
                </a>
                <a href="">
                    Контакти
                </a>
            </div>
            <div class="footer_end_block">
                <img src="img/footer/footer_image.png" alt="">
            </div>
        </div>
        <div class="footer_center_end_block">
            <p>
                ©KinoCMS 2016, All rights reserved
            </p>
        </div>
    </div>
</footer>



<!-- -----------------------------------------SCRIPT---------------------- -->

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
    
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
        }
    }
    </script>




</body>
</html>