<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/poster.css">
    <link rel="stylesheet" href="css/about_cinema.css">
    <link rel="stylesheet" href="css/media.css">
<!--    <link rel="stylesheet" href="css/loader.css">-->
    <title>Document</title>
</head>
<body>



<!----------------------NAME_OPEN_LOGON_REGISTRATION------------------------>
<header class="wrapper">
    <div class="__container">
        <div class="block_container">
            <ul class="menu_container">
                <li class="list_menu">
                      <img src="img/header/Vector.svg" alt="">
                </li>
                <li class="list_menu">
                    <h4>
                        Бодя
                    </h4>
                </li>
                <li class="list_menu">
                    <img class="header_images" src="img/header/open.svg" alt="">
                </li>
                <li class="list_menu">
                    <button>
                        Логін
                    </button>
                </li>
                <li class="list_menu">
                     <button>
                        Реєстрація
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-----------------------------------------BLOCK_MAIN---------------------->
<section class="images_section">
    <!-- <div class="block_container_images">
        <img class="images" src="img/header/header.png">
    </div> -->
    <div class="__container" >
        <div class="section_info">
            <div class="logo">
                <a href="/">
                    <img src="img/main/marvel_logo.png" alt="">
                </a>
            </div>
            <div class="page_info">
                <ul class="block__colum">
                       <li class="block__list">
                            <input type="text" placeholder="Пошук.." name="search">
                       </li>
                       <li class="block__list">
                            <img src="img/main/internet.png" alt="">
                       </li>
                       <li class="block__list">
                            <div class="phone_info">
                                <h1>
                                    (048) 777-77-77
                                </h1>
                                <h1>
                                    (097) 777-77-77
                                </h1>
                            </div>
                       </li>
                   </ul>
                <div class="down_colum">
                    <ul class="menu_page">
                        <li class="about">
                         <a href="./poster.html" >
                                Афіша
                            </a>
                            </li>

                         <li class="about">
                         <a href="" >
                                Розклад
                            </a>
                            </li>

                        <li class="about">
                            <a href="./soon.html">
                                Скоро
                            </a>
                            </li>

                        <li class="about">
                            <a href="./cinema.html" >
                                Кінотеатри
                            </a>
                            </li>
                        <li class="about">
                            <a href="./promotions.html">
                                Акції
                            </a>
                            </li>
                        <li class="about">


                            <div class="dropdown">
                                <a class="title__about__movie" href="./about_cinema.html">Про кінотеатр</a>
                                <button onclick="myFunction()" class="dropbtn add_content"></button>
                                  <div id="myDropdown" class="dropdown-content">
                                    <a href="./news.html">Новини</a>
                                    <a href="./advertising.html">Реклама</a>
                                    <a href="./cafe_bar.html">Кафе</a>
                                    <a href="./vip.html">Vip-зал</a>
                                    <a href="./childrean_room.html">Дитяча кімната</a>
                                    <a href="./mobile_app.html">Мобільний додаток</a>
                                    <a href="./contact.html">Контакти</a>
                                  </div>
                                </div>

                        </li>

                    </ul>
                    <select class="choice">
                        <option class="option__lang">
                            UK
                        </option>
                         <option>
                            EN
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>


<!-----------------------------------------IMG_BLOCK---------------------->
<section class="img_block_title">
    <img src="img/cafe_bar/childrean.png" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->

<div class="content_block_info">
    <div class="right_childrean_info">
        <div class="childrean_title">
            <h1>
                Дитяча кімната
            </h1>
        </div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos blanditiis sequi obcaecati saepe aspernatur. Cumque perferendis corporis culpa quisquam, nemo, alias, eligendi voluptate in sequi velit praesentium laborum amet consequatur.
            Aliquam voluptas unde iure ducimus velit. Soluta, nam exercitationem voluptate ratione fugit omnis, culpa, repellat labore ab qui voluptatem unde ipsa molestiae dolore officia assumenda laborum esse. Dignissimos, ad officiis?
            Doloremque voluptatem ex, corporis a quod, nulla natus veritatis ad, exercitationem ab libero quia impedit totam repellat sed! Esse dignissimos sapiente accusamus corporis amet modi, officia quisquam quos veniam voluptatum?
            Nesciunt numquam minima eligendi explicabo illum fugit dolores porro obcaecati laborum expedita dolore sapiente, nostrum eaque eum laudantium non provident aliquam incidunt facere ullam ut eius tempore molestias nam. Deserunt!
            Quam enim error, consequuntur iure quidem voluptatem quis nihil architecto natus unde cum aliquid quae, possimus ullam quos tempora saepe molestias nobis? Illum possimus quam ipsum quae adipisci, quia perferendis.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos blanditiis sequi obcaecati saepe aspernatur. Cumque perferendis corporis culpa quisquam, nemo, alias, eligendi voluptate in sequi velit praesentium laborum amet consequatur.
            Aliquam voluptas unde iure ducimus velit. Soluta, nam exercitationem voluptate ratione fugit omnis, culpa, repellat labore ab qui voluptatem unde ipsa molestiae dolore officia assumenda laborum esse. Dignissimos, ad officiis?
            Doloremque voluptatem ex, corporis a quod, nulla natus veritatis ad, exercitationem ab libero quia impedit totam repellat sed! Esse dignissimos sapiente accusamus corporis amet modi, officia quisquam quos veniam voluptatum?
            Nesciunt numquam minima eligendi explicabo illum fugit dolores porro obcaecati laborum expedita dolore sapiente, nostrum eaque eum laudantium non provident aliquam incidunt facere ullam ut eius tempore molestias nam. Deserunt!
            Quam enim error, consequuntur iure quidem voluptatem quis nihil architecto natus unde cum aliquid quae, possimus ullam quos tempora saepe molestias nobis? Illum possimus quam ipsum quae adipisci, quia perferendis.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos blanditiis sequi obcaecati saepe aspernatur. Cumque perferendis corporis culpa quisquam, nemo, alias, eligendi voluptate in sequi velit praesentium laborum amet consequatur.
            Aliquam voluptas unde iure ducimus velit. Soluta, nam exercitationem voluptate ratione fugit omnis, culpa, repellat labore ab qui voluptatem unde ipsa molestiae dolore officia assumenda laborum esse. Dignissimos, ad officiis?
            Doloremque voluptatem ex, corporis a quod, nulla natus veritatis ad, exercitationem ab libero quia impedit totam repellat sed! Esse dignissimos sapiente accusamus corporis amet modi, officia quisquam quos veniam voluptatum?
            Nesciunt numquam minima eligendi explicabo illum fugit dolores porro obcaecati laborum expedita dolore sapiente, nostrum eaque eum laudantium non provident aliquam incidunt facere ullam ut eius tempore molestias nam. Deserunt!
            Quam enim error, consequuntur iure quidem voluptatem quis nihil architecto natus unde cum aliquid quae, possimus ullam quos tempora saepe molestias nobis? Illum possimus quam ipsum quae adipisci, quia perferendis.
        </p>
        <div class="cafe_bar_img">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
            <img src="./img/cafe_bar/cafe_bar.jpg" alt="">
        </div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos blanditiis sequi obcaecati saepe aspernatur. Cumque perferendis corporis culpa quisquam, nemo, alias, eligendi voluptate in sequi velit praesentium laborum amet consequatur.
            Aliquam voluptas unde iure ducimus velit. Soluta, nam exercitationem voluptate ratione fugit omnis, culpa, repellat labore ab qui voluptatem unde ipsa molestiae dolore officia assumenda laborum esse. Dignissimos, ad officiis?
            Doloremque voluptatem ex, corporis a quod, nulla natus veritatis ad, exercitationem ab libero quia impedit totam repellat sed! Esse dignissimos sapiente accusamus corporis amet modi, officia quisquam quos veniam voluptatum?
            Nesciunt numquam minima eligendi explicabo illum fugit dolores porro obcaecati laborum expedita dolore sapiente, nostrum eaque eum laudantium non provident aliquam incidunt facere ullam ut eius tempore molestias nam. Deserunt!
            Quam enim error, consequuntur iure quidem voluptatem quis nihil architecto natus unde cum aliquid quae, possimus ullam quos tempora saepe molestias nobis? Illum possimus quam ipsum quae adipisci, quia perferendis.
        </p>
        <div class="childrean_title">
            <h1>
                ФОТОГАЛЕРЕЯ
            </h1>
        </div>
        <div class="carusel__block carusel__block_poster">
            <div class="sim-slider sim-silder-poster">
                <ul class="sim-slider-list">
                    <li><img  src="img/carusel/no-image.gif" alt="screen" class="img__carusel"></li> 
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_1.jpg" alt="0" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_2.jpeg" alt="1" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_3.jpg" alt="2" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_4.jpg" alt="3" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_5.jpg" alt="4" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="img/about_cinema/poster_6.jpg" alt="5" class="img__carusel"></li>
                </ul>
              <div class="sim-slider-arrow-left"></div>
              <div class="sim-slider-arrow-right"></div>
              <div class="sim-slider-dots"></div>
            </div>
        </div>


    </div>
    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
            <img src="img/about_cinema/1.png" alt="">
        </div>
    </div>
</div>



<!---------------------FOOTER----------------------------------------------->

<footer>
    <div class="__container">
        <div class="footer__line"></div>
        <div class="footer__block">
            <div class="footer_mobile_sites">
                <h1>
                    Мобіний додаток
                </h1>
                <div class="footer_mobile_images">
                    <img src="img/footer/google_image_footer.png" alt="">
                    <img src="img/footer/footer_image_apple.png" alt="">
                </div>
                <p>
                    Розробка сайтів: AVADA MEDIA
                </p>
            </div>
            <div class="footer__center__block">
                <h1>
                    Афіша
                </h1>
                <a href="">
                    Розклад
                </a>
                <a href="">
                    Незабаром у прокаті
                </a>
                <a href="">
                    Кінотеатри
                </a>
                <a href="">
                    Акції
                </a>
            </div>
            <div class="footer__center_2__block">
                <h1>
                    Про кінотеатр
                </h1>
                <a>
                    Новини
                </a>
                <a>
                    Реклама
                </a>
                <a href="">
                   Кафе-Бар
                </a>
                <a href="">
                    Контакти
                </a>
            </div>
            <div class="footer_end_block">
                <img src="img/footer/footer_image.png" alt="">
            </div>
        </div>
        <div class="footer_center_end_block">
            <p>
                ©KinoCMS 2016, All rights reserved
            </p>
        </div>
    </div>
</footer>



<!-- -----------------------------------------SCRIPT---------------------- -->

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
    
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            }
        }
        }
    }
    </script>

<script src="./js/carusel.js"></script>


</body>
</html>