{% extends 'main_page/base.html' %}

{% block content %}
<!----------------------NAME_OPEN_LOGON_REGISTRATION------------------------>

<!---------------------------HEADER_IMAGE--------------------------------->
<!--<section class="images_section">-->
<!--    <div class="block_container_images">-->
<!--        <img class="images" src="/static/main_page/images/header/header.png">-->
<!--    </div>-->
<!--</section>-->
<!-----------------------------------------BLOCK_MAIN---------------------->


<!-- ------------------------------CARUSEL_BLOCK------------------------- -->

<!----------CARD_FILM------------------------------------------------------->
<section>
    <div class="__container">
        <div class="carusel__block">
            <div class="sim-slider">
                <ul class="sim-slider-list">
                    <li><img  src="/static/main_page/images/carusel/no-image.gif" alt="screen" class="img__carusel"></li> <!-- это экран -->
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_1.png" alt="0" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_2.webp" alt="1" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_3.gif" alt="2" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_4.jpg" alt="3" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_5.webp" alt="4" class="img__carusel"></li>
                    <li class="sim-slider-element"><img src="/static/main_page/images/carusel/img_6.jpg" alt="5" class="img__carusel"></li>
                </ul>
              <div class="sim-slider-arrow-left"></div>
              <div class="sim-slider-arrow-right"></div>
              <div class="sim-slider-dots"></div>
            </div>
        </div>
        <div class="block__title">
            <h1 id="date">
                Дивіться сьогодні,
            </h1>
        </div>
        <div>
                <div class="main_block_card">
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                        </div>
                        <div class="card__button">
                            <button> Купити квиток</button>
                        </div>
                    </div>
        <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                             <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                        </div>
                        <div class="card__button">
                            <button> Купити квиток</button>
                        </div>
                    </div>
        <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                        </div>
                        <div class="card__button">
                            <button> Купити квиток</button>
                        </div>
                    </div>
        <!--            ------------------------------->
                    <div class="block__card">
                        <div class="card__image">
                             <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                        </div>
                        <div class="card__button">
                            <button> Купити квиток</button>
                        </div>
                    </div>
    <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                        </div>
                        <div class="card__button">
                            <button> Купити квиток</button>
                        </div>
                    </div>

    <!--            --------------------->
                </div>
<!--            --------------------->
<!--            --------------------->
            </div>





        </div>
</section>
<!---------------------------------SHOW__SOON------------------------------>
<section>
    <div class="__container">
        <div class="block__title_soon">
            <h1>
                Дивіться скоро
            </h1>
        </div>
        <div>
                <div class="main_block_card">
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                            <p>
                                 З 1 вересня
                            </p>
                        </div>

                    </div>
        <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                            <p>
                                 З 1 вересня
                            </p>
                        </div>

                    </div>
        <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                             <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                            <p>
                                 З 1 вересня
                            </p>
                        </div>

                    </div>
        <!--            ------------------------------->
                    <div class="block__card">
                        <div class="card__image">
                           <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                            <p>
                                 З 1 вересня
                            </p>
                        </div>

                    </div>
    <!--            --------------------->
                    <div class="block__card">
                        <div class="card__image">
                            <img src="static/main_page/images/card/iluyzion.jpg" alt="">
                        </div>
                        <div class="card__title">
                            Ілюзія обмана
                            <p>
                                 З 1 вересня
                            </p>
                        </div>

                    </div>

    <!--            --------------------->
                </div>
<!--            --------------------->
<!--            --------------------->
            </div>
        </div>
</section>
<!----------------------------------NEWS_AND_------------------------------->
<section>
    <div class="__container">
        <div class="block__title_soon">
            <h1>
                Новини й Акції
            </h1>
        </div>
        <div class = 'block__news'>
            <div class="news_image">
                <img src="static/main_page/images/main/back_iron.jpg" alt="image">
            </div>
            <div class="news__advertising">
                <img src="static/main_page/images/main/planet2.jpg" alt="image">
            </div>
            <div class="news__seo__block">
                      СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст  СЕО текст
            </div>
        </div>

    </div>
</section>
{% endblock %}