{% extends 'main_page/base.html' %}
{% load  i18n static%}

{% block content %}



<!-----------------------------------------IMG_BLOCK---------------------->
{% if  model_cinema_history.is_published == True %}
<section class="img_block_title">
    <img src=" {{model_cinema_history.images.url }}" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->


<div class="content_block_info">
    <div class="right_content_block_info">
        <h1>
            {{model_cinema_history.title}}
        </h1>
        <p>
            {{model_cinema_history.description}}
        </p>
<!--        <p>-->
<!--            14 мая 2002 года началась реконструкция кинокомплекса, в результате которой 20 сентября 2002 года был открыт самый большой на тот момент на Украине трехзальный кинокомплекс "Золотой Дюк".-->
<!--        </p>-->
<!--        <p>-->
<!--            В 2005 году были достроены еще 2 зала и кинокомплекс "Золотой Дюк" стал Первым Одесским пятизальным мультиплексом.-->
<!--        </p>-->
<!--        <p>-->
<!--            1 июля 2009 года в Мультиплексе «Золотой Дюк» открылся первый 3D – зал №1 на 378 мест, с объемным цифровым изображением и специальными поляризованными очками, а 01 ноября 2009 открылся второй 3D-зал №4 на 180 мест и третий 3D-зал  № 5  на 180 мест.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Залы 3D считаются сегодня самой зрелищной системой кинопоказа. Их экраны, объемный звук и четкая, гиперреалистичная картинка почти полностью разрушили границу между экраном и публикой...  -->
<!--        </p>-->
<!--        <p>-->
<!--            В феврале 2012 был построен ещё один, VIP-зал на 20 мест. Этот зал оборудован цифровым проектором NEC, который использует новую "активную" технологию Xpant для 3D. К слову, эта технология применена на Украине впервые.-->
<!--        </p>-->
<!--        <p>-->
<!--            В общем, наш мультиплекс стал  шестизальным.Подробную информацию о VIP-зале Вы можете получить по адресу <a href="http://vip.kino.od.ua/"></a>  -->
<!--        </p>-->
<!--        <p>-->
<!--            В нашем Мультиплексе зрителям обеспечен максимальный комфорт. Судите сами: благодаря наличию именно шести залов мы можем предложить Вам наибольший выбор фильмов, причем Вы всегда имеете возможность выбрать наиболее удобный для Вас сеанс. -->
<!--        </p>-->
<!--        <p>-->
<!--            Все залы кинокомплекса оборудованы самой современной звуковой аппаратурой системы "Dolby Digital Surround E.X.", обеспечивающей совершенный семиканальный цифровой звук.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Широкие кресла и большие расстояния между рядами позволят Вам очень удобно чувствовать себя во время просмотра.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Оптимальный наклон зала обеспечивает прекрасный обзор с любого места в любом ряду.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Если Вы опоздали или входите в зал во время сеанса - подсвеченные номера рядов позволят легко и быстро найти свое место. А установленная в кинокомплексе система климат-контроля обеспечит необходимый подогрев воздуха зимой и охлаждение летом во всех помещениях кинокомплекса.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Вы приехали на машине - к Вашим услугам бесплатная парковка. Вы не успели перекусить - у нас работает Кафе-пиццерия. Кстати, вход в него и вообще в фойе свободный (билеты проверяются на входе в кинозал).  -->
<!--        </p>-->
<!--        <p>-->
<!--            Добавим еще бесплатное бронирование билетов, доброжелательный персонал, стильный интерьер.  -->
<!--        </p>-->
<!--        <p>-->
<!--             ОБЩЕМ, - "ПРИЯТНОГО ПРОСМОТРА!"-->
<!--        </p>-->
<!--        <img src="img/about_cinema/block.jpg" alt="">-->
<!--        <h1>-->
<!--            Устаткування-->
<!--        </h1>-->
<!--        <p>-->
<!--            Общая площадь кинотеатра 1600 метров и он занимает весь четвертый этаж универмага «Украина». В интерьере кинотеатра использованы два стиля – high-tech и минимализм. Яркое оформление гостевой зоны фойе, бара, гардероба (оранжевые стены, потолок и кассы) контрастируют с мягким уютным оформлением небольших залов. Вы входите в кинотеатр, выбираете фильм, зал, место, оплачиваете стоимость билета, то есть выполняете некую работу. Активная фаза пребывания в кинотеатре проходит в активном фойе, а отдых – это просмотр фильма в уютном зале.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Кстати о залах. Кинотеатр ОДЕССА-КИНО отличается небольшими залами, в каждом 127 зрительских кресел. Потому, что мы считаем, что намного приятнее смотреть кино в относительно небольшой компании, чем на крытом стадионе. 4 зала в ОДЕССА-КИНО отличаются друг от друга по цветовому решению. Удобные кресла, с большими подставками для кока-колы и поп-корна. Мягкая обивка стен и потолка создает непринужденную, комфортную атмосферу. В такой атмосфере легко можно высидеть даже три с половиной часа. Оптимальный микроклимат в зале поддерживают специальные установки.  -->
<!--        </p>-->
       <div class="carusel__block">
            <div class="sim-slider">
                <ul class="sim-slider-list">
                    <li><img  src="/static/main_page/images/carusel/no-image.gif" alt="screen" class="img__carusel"></li> <!-- это экран -->
                    {% for img in model_cinema_history_images %}
                        <li class="sim-slider-element"><img src="{{ img.image.url }}"  class="img__carusel"></li>
                    {% endfor %}
                </ul>
              <div class="sim-slider-arrow-left"></div>
              <div class="sim-slider-arrow-right"></div>
              <div class="sim-slider-dots"></div>
            </div>
        </div>
<!--        <img src="img/about_cinema/block.jpg" alt="">-->



<!--        <p>-->
<!--            И, наконец, то, ради чего мы приходим в кинотеатр.  -->
<!--        </p>-->
<!--        <p>-->
<!--            Экран, звук, качество копий. Все залы в кинотеатре ОДЕССА-КИНО оснащены самым современным немецким проекционным оборудованием немецкой фирмы Kinoton с экранами 10Х4 метра. Немаловажная подробность. Экраны расположены достаточно близко к зрителям. Мы хотим сломать стереотип, о том, что кино на большом экране лучше смотреть издалека. Чем ближе вы к экрану, тем ближе вам перипетии сюжета. Еще глубже погрузиться в фильм помогает американская звуковая система Dolby Digital EX американской фирмы Elektrovoice. Возможности этой системы превратят в звукового гурмана любого. Точно такой же звук вы можете услышать в лучших кинотеатрах мира. И, безусловно, высочайшее качество изображения на экране. Его гарантирует наше стремление использовать только лучшие копии фильмов.-->
<!--        </p>-->

    </div>
    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
           <img src="/static/main_page/images/about_cinema/1.png" alt="">
           <img src="/static/main_page/images/about_cinema/1.png" alt="">
            <img src="/static/main_page/images/about_cinema/1.png" alt="">
        </div>
    </div>
</div>
{% endif %}


<!---------------------FOOTER----------------------------------------------->





<!-- -----------------------------------------SCRIPT---------------------- -->

<!--<script>-->
<!--    /* When the user clicks on the button,-->
<!--    toggle between hiding and showing the dropdown content */-->
<!--    function myFunction() {-->
<!--        document.getElementById("myDropdown").classList.toggle("show");-->
<!--    }-->
<!--    -->
<!--    // Close the dropdown if the user clicks outside of it-->
<!--    window.onclick = function(event) {-->
<!--        if (!event.target.matches('.dropbtn')) {-->
<!--    -->
<!--        var dropdowns = document.getElementsByClassName("dropdown-content");-->
<!--        var i;-->
<!--        for (i = 0; i < dropdowns.length; i++) {-->
<!--            var openDropdown = dropdowns[i];-->
<!--            if (openDropdown.classList.contains('show')) {-->
<!--            openDropdown.classList.remove('show');-->
<!--            }-->
<!--        }-->
<!--        }-->
<!--    }-->
<!--    </script>-->

<script>
    window.caruselspeed = 5000
    console.log(window.caruselspeed)
</script>
<script src="/static/main_page/js/carusel.js"></script>
{% endblock %}