.film_title{
    text-align: center;
    color: black;
}

.container__{
    max-width: 1200px;
    margin: 0 auto;
}

.film_block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.film_block_add{
    margin: 10px 50px;
}

/* add_film.html */
.title_film_block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title_film_block p{
    margin: auto 10px;
}
.title_film_block input{
    width: 500px;
}

.description_film_block{
    display: flex;

}
.description_film_block p{
    margin-right: 10px;
}
/*.description_film_block textarea{*/
/*    width: 100%;*/
/*    height: 500px;*/
/*    margin-left: 10px;*/
/*}*/


.images_AddRemove_film_block{
    display: flex;
    /*align-items: center;*/
    flex-wrap: wrap;
}
.images_AddRemove_film_block svg{
    margin: 10px 20px;
}
.images_AddRemove_film_block button{
    margin: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    /*background-color: white;*/
}

.images_AddRemove_film_block button:hover{
    transform: scale(1.2);
}

.add_film_images{
    /*display: flex;*/
}

.block_container__ button{
    margin-bottom: 40px;
}



.trailer_film_block{
    display: flex;
    flex-wrap: wrap;

}
.trailer_film_block p{
    margin-right: 10px;
}
.trailer_film_block input{
    width: 500px;
    height: 30px;
}

.trailer_film_block{
    display: flex;
}

.KINO_film_block{
    display: flex;
    align-items: baseline;
}


.KINO_film_block p{

    margin-right: 20px;

}

.seo_film_block{
    display: flex;
    flex-wrap: wrap;
}

.seo_film_block__{
    width: 100%;
    max-width: 500px;
}

.seo_film_block_items{
    display: flex;
    margin: 20px 0;

}

.seo_film_block_items_p{
    margin-right: 50px;
}

.seo_film_block_items_p_key{
    margin-right: 10px;
}

.seo_film_block_p{
    margin-right: 100px;
}


.seo_film_block_items input{
    width: 100%;
    height: 25px;

}
.text_input__{
    margin-left: 90px;
}

.text_input{
    margin-left: 50px;
}

.seo_film_block_items textarea{
    margin-left: 40px;
    width: 100%;
}


/* CINEMA.HTML */

.title_cinemas{
    text-align: center;
    margin-bottom: 30px;
}

.block_container__cinema{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.block_img_url_input_cinema{
    text-align: center;
    margin-right: 40px;
}
.block_img_url_input_cinema button{
    margin-left: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.button_and_svg_cinema_button svg{
    cursor: pointer;
}


/* cinema_card.html */

.titile_cinama_card{
    text-align: center;
}
.table_cinema_card{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.table_cinema_card .td_cinema_card,.th_cinema_card {
    border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.table_cinema_card .tr_cinema_card:nth-child(even){
    background-color: #dddddd;
}

.table_cinema_card g{
    cursor: pointer;
}


.button_create{
    display: flex;

    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
    cursor: pointer;
}
.button_create g{
    margin: 10px auto;
}

.button_create p{
    margin: 7px 10px;
}

.save_cinema_card{
    text-align: center;
}

.save_cinema_card button{
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.save_cinema_card button:hover{
    transform: scale(1.2);
}

.add_film_button_block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.add_film_button_block button{
    background-color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn_1:hover{
    background-color: green;
    color: white;
}
.btn_2:hover{
    background-color: rgb(164, 222, 63);
}


.add_image{
    background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
    margin: 30px auto;
}

.add_image:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.input_image{
    margin-left: 50px;
}


.item-photo__preview {
  width: 150px;
  height: auto;
}

.display_{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.gallery{
    width: 150px;
    height: auto;
}
.inline_block{
        display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.add_buuton{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.btn-outline-success{
    border-color: blue!important;
}

.btn-outline-success:hover{
    color: #fff!important;
    background-color: #0000ff!important;
}


.btn-block{
    width: 55% !important;
    margin: 10px auto;
}

.form-gallery-img{
    width: 150px;
}


/*.btn_upload {*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*  color: #fff;*/
/*  background-color: #2a72d4;*/
/*  border: 1px solid #166b8a;*/
/*  padding: 5px 10px;*/
/*}*/

/*.btn_upload:hover,*/
/*.btn_upload:focus {*/
/*  background-color: #7ca9e6;*/
/*}*/

/*.yes {*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  margin-top: 10px !important;*/
/*}*/

/*.btn_upload input {*/
/*  cursor: pointer;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  filter: alpha(opacity=1);*/
/*  -moz-opacity: 0;*/
/*  opacity: 0;*/
/*}*/

/*.it {*/
/*  height: auto;*/
/*    width: 150px;*/
/*  margin-left: 10px;*/
/*}*/

/*.btn-rmv1,*/
/*.btn-rmv2,*/
/*.btn-rmv3,*/
/*.btn-rmv4,*/
/*.btn-rmv5 {*/
/*  display: none;*/
/*}*/

/*.rmv {*/
/*  cursor: pointer;*/
/*  color: #fff;*/
/*  border-radius: 30px;*/
/*  border: 1px solid #fff;*/
/*  display: inline-block;*/
/*  background: rgba(255, 0, 0, 1);*/
/*  margin: -5px -10px;*/
/*}*/

/*.rmv:hover {*/
/*  background: rgba(255, 0, 0, 0.5);*/
/*}*/


.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}


.image_block_uodate{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    margin: 30px 0;
}

.logo_preview_image{
    width: 150px;
    height: auto;
}

.button_image{
    width: 280px;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.button_delete{
        border-radius: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

.class_block_all{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**/

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.id_is_published {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.id_is_published:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .id_is_published {
	background: #bada55;
}

input:checked + .id_is_published:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.id_is_published:active:after {
	width: 130px;
}
