{% extends 'user/base.html' %}
{% load  i18n static%}

{% block content %}
<form  method="post" enctype="multipart/form-data"  style="margin: 0 10%">{% csrf_token %}
<!--            <div class="choice">-->
<!--                <a href="{% url 'set_language' 'uk'%}">UK</a>-->
<!--                <a href="{% url 'set_language' 'en'%}">EN</a>-->
<!--            </div>-->
             <div class="button__position_">
                {{ form.is_published }}
                <label class="id_is_published" for="id_is_published"></label>
            </div>
          <div class="title_film_block_news">
            <div class="input_news_block">
                <p>
                     {% trans "Назва новини" %}
                </p>
                 {{ form.title }}
            </div>
            <div class="date_newS_block">
                <p>
                    {% trans "Дата публікації" %}
                  {{ form.data_published }}

                </p>
            </div>
          </div>
          <div class="description_film_block">
            <p>
             {% trans "Опис" %}
            </p>
                {{ form.description }}
          </div>
           <div class="images_AddRemove_film_block">
        <div class="col-md-12 mb-3"><span class="font-weight-bold">{% trans "Головна картинка" %}:</span></div>
        <div class="">
            <img id="logo_preview"
                 class="logo_preview_image"
                 src="/static/administrator/images/preview_upload.png">
        </div>
        <div class="class_block_all">
            <div class="">
                <button name="logo"
                        type="button"
                        onchange="showPreview(name, event)"
                        class="button_image">
                       {{ form.images }}
                    <label for="id_images" class="btn-1">{% trans "Добавити" %}</label>
                </button>
            </div>
            <div class="">
                <button name="logo"
                        type="button"
                        onclick="deletePreview(name, event)"
                        class="button_delete">
                    <span>{% trans "Видалити" %}</span>
                </button>
            </div>
        </div>
    </div>
          <h6 style="">
            <strong>{% trans "Галерея картинок" %}</strong>
          </h6>
          <div id="gallery" class="form-gallery">
        <div class="col-md-12 mb-3"><span class="font-weight-bold"></span></div>
        <div id="form_set" class="mb-5">
            {{ formset.management_form }}
            {% for form in formset %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% endfor %}
        </div>
        <div class="delete-list d-none"></div>
        <div id="empty_form" class="d-none">
            <div id="form-__prefix__-form" style="display: inline-block">
                <a id="form-__prefix__" onclick="delete_image(this.id)">
                    <button type="button" class="close btn-form-delete" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
                <input type="hidden" name="form-__prefix__-id" id="id_form-__prefix__-id">
                <div class="text-center">
                    <img id="form-__prefix__-image"
                         class="form-gallery-img"
                         src="/static/administrator/images/preview_upload.png">
                </div>
                <div class="text-center">
                    <a id="form-__prefix__"
                       onchange="preview_gallery(this.id)"
                       class="">
                        <input type="file" name="form-__prefix__-image" accept="image/*" id="id_form-__prefix__-image">
                        <label for="id_form-__prefix__-image" class="btn-1">{% trans "Добавити" %}</label>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-block btn-success ml-5 btn-gallery-add" id="add_img">{% trans "Добавити" %}</button>
        </div>
    </div>
         <div class="trailer_film_block">
          <p>
            {% trans "Силка на трейлер" %}
          </p>
          {{ form.link }}
         </div>
         <div class="seo_film_block">
          <p class="seo_film_block_p">
             {% trans "SEO блок" %}:
          </p>
          <div class="seo_film_block__">
            <div class="seo_film_block_items">
              <p>
                URL:
              </p>
                 {{ seo.seo_url }}
            </div>
            <div class="seo_film_block_items">
              <p>
               {% trans "Заголовок" %}:
              </p>
             {{ seo.seo_title }}
            </div>
            <div class="seo_film_block_items">
              <p>
                {% trans "Ключові слова" %}:
              </p>
                 {{ seo.seo_keywords }}
            </div>
            <div class="seo_film_block_items">
              <p>
                {% trans "Опис" %}:
              </p>
                 {{ seo.seo_description }}
            </div>
          </div>
         </div>
         <div class="">
            <div class="save_cinema_card">
            <a href="{% url 'news' %}">
                <button type="button" class="btn_close">
                    {% trans "Відмінити" %}
                </button>
            </a>
            <button type="submit" class="btn_save">
                {% trans "Зберегти" %}
            </button>
             <button type="reset" class="btn_reset">
                 {% trans "Очистити" %}
             </button>
         </div>
         </div>
</form>
<!--toaesteer-->
      {% endblock content %}