{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/film.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

    <!-- datables -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <title>{{ title }}</title>
</head>
<body>

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-lg fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <div id="close-sidebar">
                <i class="fas fa-lg fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <img src="{% static 'user/images/logo.webp' %}" alt="">
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-menu">
              <ul>
                    <li class="sidebar-dropdown">
                      <a class="navigation" href="./index.html">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Статистика</span>
                      </a>

                    </li>
                <li class="sidebar-dropdown">
                  <a class="navigation" href="banner.html">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Баннера/Слайдери</span>
                  </a>
                </li>
                <ul class="list">
                  <div>
                      <li class="sidebar-dropdown">
                        <a class="navigation" href="films.html">
                          <i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i>
                          <span>Фільми</span>
                        </a>
                          <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                          <li class="sub"><p><a href="./add_film.html">Сторінка фільма</a></p></li>

                      </li>
                    </div>
                  </ul>
                    <ul class="list">
                      <div>
                          <li class="sidebar-dropdown">
                            <a class="navigation" href="./cinema.html">
                              <i class="fa fa-cloud"></i>
                              <span>Кінотеатри</span>
                            </a>
                            <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                            <li class="sub"><p><a href="./ciname_card.html">Карточка кінотеатра</a></p></li>
                            <li class="sub"><p><a href="./cinema_zal.html">Карточка залу</a></p></li>
                            </li>
                      </div>
                    </ul>

                      <ul class="list">
                        <div>
                            <li class="sidebar-dropdown">
                              <a class="navigation" href="./news.html">
                                    <i class="fa fa-globe"></i>
                                    <span>Новини</span>
                                  </a>

                                <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                                <li class="sub"><p><a href="./page_news.html">Сторінка новин</a></p></li>
                            </li>
                        </div>
                      </ul>

                      <ul class="list">
                        <div>
                            <li class="sidebar-dropdown">
                              <a class="navigation" href="./promotions.html">
                                <i class="fa fa-calendar"></i>
                                <span>Акції</span>
                              </a>
                              <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                              <li class="sub"><p><a href="./page_promotions.html">Сторінка акцій</a></p></li>
                            </li>
                        </div>
                      </ul>


                      <ul class="list">
                        <div>
                           <li class="sidebar-dropdown">
                            <a class="navigation" href="./page_info.html">
                                    <i class="fa fa-folder"></i>
                                    <span>Сторінки</span>
                                  </a>
                                  <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                                  <li class="sub"><p><a href="./main_page.html">Головна сторінка</a></p></li>
                                  <li class="sub"><p><a href="./about_cinema.html">Про кінотеатр</a></p></li>
                                  <li class="sub"><p><a href="./caffe_bar.html">Кафе-Бар</a></p></li>
                                  <li class="sub"><p><a href="./vip.html">Vip-зал</a></p></li>
                                  <li class="sub"><p><a href="./advertising.html">Реклама</a></p></li>
                                  <li class="sub"><p><a href="./childrean_room.html">Дитяча кімната</a></p></li>
                                  <li class="sub"><p><a href="./contact.html">Контакти</a></p></li>
                            </li>
                          </div>
                        </ul>
                        <ul class="list">
                          <div>
                            <li class="sidebar-dropdown">
                              <a class="navigation" href="users.html">
                                <i class="fa fa-user-circle"></i>
                                <span>Користувачі</span>
                              </a>
                              <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                              <li class="sub"><a href="./create_user.html">Реадагування користувача</a></li>
                            </li>
                          </div>
                        </ul>
                        <ul class="list">
                          <div>
                            <li class="sidebar-dropdown">
                              <a class="navigation" href="./newsletter.html">
                                <i class="fa fa-sitemap"></i>
                                <span>Розсилання</span>
                              </a>
                              <i class="fa fa-arrow-right dropdown_i" style="margin-right: 30px; color: #fff; cursor: pointer;"></i>
                              <li class="sub"><p><a href="./choice_user.html">Вибір користувачів</a></p></li>
                            </li>
                          </div>
                        </ul>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fab fa-lg fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-lg fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-lg fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-lg fa-youtube"></i>
            </a>
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div id="overlay" class="overlay"></div>
          <div class="container-fluid">
            <div class="block_admin_block">
                <div class="block_admin">
                    <img src="{% static 'user/images/Vector.svg' %}" alt="">
                    <h1>
                        Адміністратор
                    </h1>
                    <a href="{% url 'home' %}"><img src="{% static 'user/images/open.svg' %}" alt=""></a>
                </div>

            </div>
            <hr>
            <div class="row">
              <div class="form-group col-md-12">

              </div>
              <div class="form-group col-md-12">

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

              </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

              </div>
            </div>
          </div>
            {% block content %}
            {% endblock %}


        </main>
        <!-- page-content" -->
      </div>



      <!-- ----------------------CONTENT---------------------- -->





      <!-- page-wrapper -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
      <!-- <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script> -->
      <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script> -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>
      <script src="{% static 'user/js/main.js' %}"></script>
      <script src="{% static 'user/js/password_generation.js' %}"></script>



    <!-- datatables -->
      <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
      <script src="{% static 'user/js/datables.js' %}"></script>


<!-- --------------------------------DROPDOWN-MENU--------------- -->





</body>
</html>