{% extends 'user/base.html' %}
{% block content %}
          <form method="POST">
              {% csrf_token %}
            <div class="creat_user_block">
                <div>
                    <div class="flex_text">
                        <p>
                            Ім'я
                        </p>
                        {{ form.username }}
                    </div>
                   <div class="flex_text">
                        <p>
                            Прізвище
                        </p>
                       {{ form.last_name }}
                   </div>
                    <div class="flex_text">
                        <p>
                            Псевдонім
                        </p>
                        {{ form.anonym }}
                    </div>
                    <div class="flex_text">
                        <p>
                            E-mail
                        </p>
                        {{ form.email }}
                    </div>
                    <div class="flex_text">
                        <p>
                            Адреса
                        </p>
                        {{ form.adress }}
                    </div>
                    <div class="flex_text">
                        <p>
                            Пароль
                        </p>
                        {{ form.password1 }}
                    </div>
                    <div class="flex_text">
                        <p>
                            Номер картки
                        </p>
                       {{ form.card_number }}
                    </div>
                </div>
                <div>
                    <div class="flex_text">
                        <p>
                            Язик
                        </p>
                        <div class="display_block_check">
                                 {{ form.language }}
                        </div>

                    </div>
                    <div class="flex_text">
                        <p>
                            Стать
                         </p>
                         <div class="display_block_check">

                            {{ form.sex }}
                        </div>

                    </div>
                    <div class="flex_text">
                        <p>
                            Телефон
                        </p>
                        {{ form.phone }}
                    </div>
                   <div class="flex_text">
                        <p>
                            День народження {{ form.data_birthday }}

                        </p>

                   </div>
                    <div class="flex_text">
                        <p>
                            Місто
                        </p>
                       {{ form.choice_city }}
                    </div>
                    <div class="button_generation">
                        <div class="flex_text">
                            <p>
                                Повторіть пароль
                            </p>
                            {{ form.password2 }}

                        </div>
                        <button id="input-generate">
                            Генерація пароля
                        </button>
                    </div>
                </div>
            </div>
            <div class="button_save_usr">
                <button type="submit">
                    Зберегти
                </button>
            </div>
          </form>


{% endblock %}



      <!-- ----------------------CONTENT---------------------- -->







