{% extends 'main_page/base.html' %}
{% load  i18n static%}

{% block content %}
{% if  model_cafe_bar.is_published == True %}
<!-----------------------------------------IMG_BLOCK---------------------->
<section class="img_block_title">
    <img src="{{model_cafe_bar.images.url }}" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->

<div class="content_block_info">
    <div class="cafe_bar_container"> 
        <div class="title_cafe_block">
            <h1>
                {{model_cafe_bar.title}}
            </h1>
        </div>
        <p>
              {{model_cafe_bar.description}}
        </p>
        <div class="cafe_bar_img">
            {% for img in model_cafe_bar_images %}
                <img src="{{ img.image.url }}" alt="">
<!--            <img src="/static/main_page/images/cafe_bar/cafe_bar.jpg" alt="">-->
<!--            <img src="/static/main_page/images/cafe_bar/cafe_bar.jpg" alt="">-->
            {% endfor %}
        </div>
        <div class="title_cafe_block">
            <h1>
                {% trans "Меню" %}
            </h1>
        </div>
        <table class="table_cafe_bar">
            <tr class="tr_cafe_bar">
              <th class="th_cafe_bar">Head 1</th>
              <th class="th_cafe_bar">Head 2</th>
              <th class="th_cafe_bar">Head 3</th>
              <th class="th_cafe_bar">Checbox</th>
            </tr>
            <tr class="tr_cafe_bar">
              <td class="td_cafe_bar">Cell 1</td>
              <td class="td_cafe_bar">Cell 2</td>
              <td class="td_cafe_bar">Cell 3</td>
              <td class="td_cafe_bar">
                <input type="checkbox">
              </td>
            </tr>
            <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 4</td>
                <td class="td_cafe_bar">Cell 5</td>
                <td class="td_cafe_bar">Cell 6</td>
                <td class="td_cafe_bar">
                    <input type="checkbox">
                  </td>
              </tr>
              <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 7</td>
                <td class="td_cafe_bar">Cell 8</td>
                <td class="td_cafe_bar">Cell 9</td>
                <td class="td_cafe_bar">
                    <input type="radio">
                  </td>
              </tr>
              <tr class="tr_cafe_bar">
                <td class="td_cafe_bar">Cell 10</td>
                <td class="td_cafe_bar">Cell 11</td>
                <td class="td_cafe_bar">Cell 12</td>
                 <td class="td_cafe_bar">
                    <input type="radio">
                  </td>
              </tr>
            
          </table>

    </div>
    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
            <img src="/static/main_page/images/about_cinema/1.png" alt="">
           <img src="/static/main_page/images/about_cinema/1.png" alt="">
           <img src="/static/main_page/images/about_cinema/1.png" alt="">
        </div>
    </div>
</div>

{% endif %}


<!---------------------FOOTER----------------------------------------------->




<!-- -----------------------------------------SCRIPT---------------------- -->

<!--<script>-->
<!--    /* When the user clicks on the button,-->
<!--    toggle between hiding and showing the dropdown content */-->
<!--    function myFunction() {-->
<!--        document.getElementById("myDropdown").classList.toggle("show");-->
<!--    }-->
<!--    -->
<!--    // Close the dropdown if the user clicks outside of it-->
<!--    window.onclick = function(event) {-->
<!--        if (!event.target.matches('.dropbtn')) {-->
<!--    -->
<!--        var dropdowns = document.getElementsByClassName("dropdown-content");-->
<!--        var i;-->
<!--        for (i = 0; i < dropdowns.length; i++) {-->
<!--            var openDropdown = dropdowns[i];-->
<!--            if (openDropdown.classList.contains('show')) {-->
<!--            openDropdown.classList.remove('show');-->
<!--            }-->
<!--        }-->
<!--        }-->
<!--    }-->
<!--    </script>-->

<script>
    window.caruselspeed = 5000
    console.log(window.caruselspeed)
</script>
<script src="/static/main_page/js/carusel.js"></script>
{% endblock %}


