.title_news_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_news_block h1{
    margin: 0 auto;
}

.title_news_block_button{
    display: flex;
    width: 200px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.table_news {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
  }
  
  .td_news, .th_news {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  .tr_news:nth-child(even) {
    background-color: #dddddd;
  }

  .news_btn_save{
    text-align: center;

  }
  .news_btn_save button{
    cursor: pointer;
    background-color: white;
      border-radius: 5px;
  }
  .news_btn_save button:hover{
    background-color: green;
    color: white;
  }

  .td_news g{
    cursor: pointer;
  }


/* news_create.html */

  .title_film_block_news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
      margin-right: 50px;
  }

  .input_news_block {
    display: flex;
  }

  .input_news_block input{
    width: 100%;
    height: 25px;
    margin-left: 20px;
  }