{% extends 'main_page/base.html' %}
{% load  i18n static%}

{% block content %}

{% if  mobile_page.is_published == True %}

<!-----------------------------------------IMG_BLOCK---------------------->
<section class="img_block_title">
    <img src="{{mobile_page.images.url }}" alt="">
</section>



<!-----------------------------------------CONTENT---------------------->

<div class="content_block_info">
    <div class="right_mobile_info">
        <div class="mobile_title">
            <h1>
               {{mobile_page.title}}
            </h1>
        </div>
        <p>
            {{mobile_page.description}}
        </p>
        <div class="mobile_img">
            {% for img in mobile_page_images %}
                <img src="{{ img.image.url }}" alt="">
            {% endfor %}
        </div>
        <div class="mobile_img_goog_foo">
            <img src="img/footer/google_image_footer.png" alt="">
            <img src="img/footer/footer_image_apple.png" alt="">
        </div>
    </div>
    


    <div class="left_content_block_info">
        <div class="left_content_block_info_position">
            <img src="/static/main_page/images/about_cinema/1.png" alt="">
            <img src="/static/main_page/images/about_cinema/1.png" alt="">
            <img src="/static/main_page/images/about_cinema/1.png" alt="">
        </div>
    </div>
</div>


{% endif %}
<!---------------------FOOTER----------------------------------------------->



<!-- -----------------------------------------SCRIPT---------------------- -->

<!--<script>-->
<!--    /* When the user clicks on the button,-->
<!--    toggle between hiding and showing the dropdown content */-->
<!--    function myFunction() {-->
<!--        document.getElementById("myDropdown").classList.toggle("show");-->
<!--    }-->
<!--    -->
<!--    // Close the dropdown if the user clicks outside of it-->
<!--    window.onclick = function(event) {-->
<!--        if (!event.target.matches('.dropbtn')) {-->
<!--    -->
<!--        var dropdowns = document.getElementsByClassName("dropdown-content");-->
<!--        var i;-->
<!--        for (i = 0; i < dropdowns.length; i++) {-->
<!--            var openDropdown = dropdowns[i];-->
<!--            if (openDropdown.classList.contains('show')) {-->
<!--            openDropdown.classList.remove('show');-->
<!--            }-->
<!--        }-->
<!--        }-->
<!--    }-->
<!--    </script>-->


{% endblock %}